<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Go練習アプリ</title>
</head>
<body>
<h1 style="text-align:center;">削除確認</h1>
<div style="margin: 0 auto;padding: 30px;border: solid;max-width: 500px;">
<p>本当に削除しますか？</p>
<ul>
    <li>暇な日時： {{.Posts.Begintime}}〜{{.Posts.Finishtime}}</li>
    <li>やりたいこと： {{.Posts.Todo}}</li>
</ul>

<form method="post" action="/delete/{{.Posts.ID}}">
    <p><input type="submit" value="削除"></p>
    <p><a href="/">戻る</a></p>
</form>
</div>
</body>
</html>
