<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Go練習アプリ</title>
</head>
<body>
<h1 style="text-align:center;">内容変更</h1>
<div style="margin: 0 auto;padding: 30px;border: solid;max-width: 500px;">
<form method="post" action="/update/{{.Posts.ID}}">
    <p>暇な日時：<input type="datetime-local" name="begintime" value="{{.Posts.Begintime}}">〜<input type="datetime-local" name="finishtime" value="{{.Posts.Finishtime}}"></p>
    <p>やりたいこと：<input type="text" name="todo" size="30" value="{{.Posts.Todo}}" maxlength="30"></p>
    <p><input type="submit" value="変更を送信"></p>
</form>
</div>
</body>
</html>
