<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/css/index.css">
  <title>Go練習アプリ</title>
</head>
<body>
  <img class="box_imageLeft"  src="assets/images/brucelee.gif">
  <img class="box_imageRight" src="assets/images/brucelee.gif">
  <h2 id="sitetitle">暇gin掲示板</h2>
  {{ if .isLoggedIn }}
    <div id="formbox">
      <h1 style="text-align:center;">よく来ました {{ .username }}くん</h1>
      <h2 style="text-align:center;">君のメアド {{ .email }}</h2>
      <form id="signout-form" action="/user/logout" method="POST">
          <input type="submit" value="ログアウト">
      </form>

      <form method="post" action="/new">
          <p>名前：{{ .username }}</p>
          <input type="hidden" name="username" size="30" value="{{ .username }}" maxlength="30">
          <p>暇な日時：<input type="datetime-local" name="begintime">〜<input type="datetime-local" name="finishtime"></p>
          <p>やりたいこと：<input type="text" name="todo" size="30" placeholder="例)Zoom飲み会" maxlength="30"></p>
          <p id="sendbutton"><input type="submit" value="送信"></p>
      </form>
    </div>
  {{ else }}
    <div id="user-formbox">
      <button id="login" onclick="location.href='./login'">ログイン</button>
      <button id="signup" onclick="location.href='./signup'">アカウント登録</button>
    </div>
  {{ end }}
  <div id="indexbox">
    <div style="text-align: center;border:solid;padding-top:15px;">名前</div>
    <div style="text-align: center;border:solid;padding-top:15px;">暇な日時</div>
    <div style="text-align: center;border:solid;padding-top:15px;">やりたいこと</div>
    <div style="text-align: center;border:solid;padding-top:15px;">処理</div>
    {{ $user_name := .username }}
    {{ range .Posts }}
      <div style="text-align: center;padding: 40px 0px;">
        {{ .PostUsername }}
      </div>
      <div id="times" style="text-align: center;padding: 40px 0px;">
        {{ .Begintime }}~{{ .Finishtime }}
      </div>
      <div style="text-align: center;padding: 40px 0px;">
        {{.Todo}}
      </div>
      {{ if eq $user_name .PostUsername}}
        <div style="text-align: center;padding: 40px 0px;">
          <label><a href="/detail/{{.ID}}">編集</a></label>
          <label><a href="/delete_check/{{.ID}}">削除</a></label>
        </div>
      {{ end }}
    {{end}}
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="assets/js/index.js"></script>
</body>
</html>
