<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/css/index.css">
  <title>Go練習アプリ</title>
</head>
<body>
  <img class="box_imageLeft"  src="assets/images/zakosi.gif">
  <img class="box_imageRight" src="assets/images/zakosi.gif">
  <h2 id="sitetitle">暇gin掲示板</h2>
  <div id="formbox">
    <form method="post" action="/new">
        <p>名前：<input type="text" name="name" size="30" placeholder="名前を入力してください" ></p>
        <p>暇な日時：<input type="datetime-local" name="begintime">〜<input type="datetime-local" name="finishtime"></p>
        <p>やりたいこと：<input type="text" name="todo" size="30" placeholder="例)Zoom飲み会" ></p>
        <p id="sendbutton"><input type="submit" value="送信"></p>
    </form>
  </div>
  <div id="indexbox">
    <div style="text-align: center;border:solid;padding-top:15px;">名前</div>
    <div style="text-align: center;border:solid;padding-top:15px;">暇な日時</div>
    <div style="text-align: center;border:solid;padding-top:15px;">やりたいこと</div>
    <div style="text-align: center;border:solid;padding-top:15px;">編集・削除</div>
    {{ range .himajins }}
      <div style="text-align: center;padding: 40px 0px;">
        {{ .Name }}
      </div>
      <div id="times" style="text-align: center;padding: 40px 0px;">
        {{ .Begintime }}~{{ .Finishtime }}
      </div>
      <div style="text-align: center;padding: 40px 0px;">
        {{.Todo}}
      </div>
      <div style="text-align: center;padding: 40px 0px;">
        <label><a href="/detail/{{.ID}}">編集</a></label>
        <label><a href="/delete_check/{{.ID}}">削除</a></label>
      </div>
    {{end}}
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="assets/js/index.js"></script>
</body>
</html>
