<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/css/login.css">
  <title>Go練習アプリ</title>
</head>
<body>
  <article>
      <h1 style="text-align:center;">ログイン</h1>
      <form class="login-form" action="user/login" method="post">
          <label>ユーザー名</label><br>
          <input type="text" name="username"><br>
          <label>パスワード</label><br>
          <input type="password" name="password"><br>
          <label>または</label><a href="/signup">アカウント登録</a>
          <input type="submit" value="送信">
      </form>
  <article>
</body>
</html>
