<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/css/signup.css">
  <title>Go練習アプリ</title>
</head>
<body>
  <article>
      <h1 style="text-align:center;">アカウント登録</h1>
      <form class="signup-form" action="/user/signup" method="post">
          <label>ユーザー名</label><br>
          <input type="text" name="username"><br>
          <label>メールアドレス</label><br>
          <input type="text" name="emailaddress"><br>
          <label>パスワード</label><br>
          <input type="password" name="password"><br>
          <label>パスワード確認</label><br>
          <input type="password" name="passwordconfirmation"><br>
          <label>または</label><a href="/login">ログイン</a>
          <input type="submit" value="送信">
      </form>
  </article>
</body>
</html>
